body{
    margin-left:20px ;
    font-size:20px;
    font-weight:400;
    background-color: chocolate;
    color:red;
}
.section, .section-dark {
    text-align: left;
    padding: 50px 80px;
    background-color: lightblue;
    color: black;
}
p{
    font-size: 20px;
    font-weight: 400;
    color: black;
}